body {
  margin: 0;
  padding: 0;
  background-color: #fffff5;
  font-family: "Inter", system-ui;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  margin: 1.25rem;
  padding: 0.938rem;
}

.details {
  width: 40%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  margin-bottom: -1rem;
}
font-family: "Inter", system-ui;

h1 {
  width: 52%;
  color: #12121a;
  font-weight: 700;
  font-size: xxx-large;
}

.title {
  position: relative;
}

.underline {
  height: 1rem;
  width: 79%;
  background: rgb(243, 174, 85);
  background: linear-gradient(
    90deg,
    rgba(243, 174, 85, 1) 21%,
    rgba(247, 207, 148, 1) 54%
  );
  position: absolute;
  bottom: 0.4rem;
  z-index: -1;
}

p {
  width: 82%;
  color: #a2a09f;
}

.buttons {
  display: flex;
  /* justify-content: space-between; */
  gap: 1.6rem;
  margin-top: 2rem;
}

.rounded-button {
  padding: 0.625rem 1.25rem;
  border-radius: 1.5rem;
  font-size: 1.25rem;
}

#btn-primary {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 10%,
    rgba(253, 29, 29, 1) 40%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  border: 0;
  /* display: flex;
  justify-content: center; */
}

.right-arrow {
  position: relative;
  top: 0.125rem;
}

#btn-secondary {
  background-color: white;
}

.profile-pic {
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
}
